    <!-- display the footer at the botom of the pages with contact info for the programmer -->
    <footer id="footer-scrollable">
        <!-- create variables to hide email from spam bots -->
        <% let a = "mailto"; %>
        <% let b = "nick.l.dimartino" %>
        <% let c = "gmail.com" %>

        <div id="name">Created by: Nick DiMartino</div>
        <a href="https://www.linkedin.com/in/nicholas-dimartino/" class="fa fa-linkedin-square"></a>
        <a href="https://github.com/nickldimartino/AI-Platforms-List-CRUD" class="fa fa-github"></a>
        <a href="<%= a %>:<%= b %>@<%= c %>" class="fa fa-envelope"></a>
        <div></div>
        <div id="course">General Assembly: Project 2</div>
    </footer>
</body>
</html>
