<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id="nav">
      <table>
        <thead>
          <tr>
            <th>
              <a href="/">Home Page</a>
            </th>
            <th>
              <a href="/platforms">AI Platforms Page</a>
            </th>
            <th>
              <a href="/platforms/new">Add AI Platform</a>
            </th>
            <th>
              <a href="/favorites/index">Favorites</a>
            </th>
            <th>
              <a href="/chatbots/index">Try Out an AI Chatbot!</a>
            </th>
            <th>
              <% if (user) { %>
                <a href="/logout">Log Out</a>
              <% } else { %>
                <a href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
              <% } %>
            </th>
          </tr>
        </thead>
      </table>
        
        
        
           
          
          
        
    </nav>
    <h1><%= title %></h1>