body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  height: 34px;
}

.login img {
  height: 30px;
}

/* #nav {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: space-around;
} */
