body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  height: 34px;
}

.login img {
  height: 30px;
}

/* body {
  background: lightblue;
  padding: 0;
}

a {
  color: black;
  margin-left: 10vmin;
  min-height: 6vmin;
  max-height: 6vmin;
}

nav {
  background-color: lightcoral;
  width: 100vw;
  font-size: 4vmin;
  min-height: 6vmin;
  max-height: 6vmin;
} */