/* --------------------- CONSTANTS --------------------- */
* {
  --body-background: url("https://images.template.net/115858/free-sky-blue-abstract-background-lsaav.jpeg"); 
  --title-color: black;
  --nav-color: brown;
  --nav-font-color: ivory;
  --btn-color: brown;
  --btn-font-color: ivory;
  --background-color: white;
  --platform-color: white;
}


/* --------------------- All Pages --------------------- */
/* Web Page Body */
body {
  background-image: var(--body-background);
  background-size: cover;
  padding: 0;
  background-attachment: fixed;
}

/* Nav Bar */
nav {
  background-color: var(--nav-color);
  width: 100vw;
  min-height: 8vmin;
  max-height: 8vmin;
  position: fixed;
  margin-top: 0;
  padding-top: 2vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 3vmin;
}

/* Nav Bar Links */
a {
  color: var(--nav-font-color);
  margin-left: 16vmin;
  min-height: 6vmin;
  max-height: 6vmin;
}

/* Nav Bar Links on Hover */
a:hover { color: var(--nav-font-color) }

/* Login Link Image Height */
.login img { height: 4vmin; }


/* --------------------- Front Pages --------------------- */
#platforms-new-index-page,
#companies-index-page,
#companies-new-page,
#platforms-edit-page,
#chatbots-index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12vmin;
}


/* ------------------------ Forms ------------------------ */
#platforms-new-form,
#companies-index-form,
#companies-new-form,
#platforms-edit-form {
  background-color: var(--background-color);
  padding: 15px;
  border-radius: 10px;
  min-width: 325px;
  max-width: 325px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}


/* ----------------------- Buttons ----------------------- */
#platforms-new-btn,
.companies-index-btn,
#companies-new-confirm-btn,
#platforms-edit-confirm-btn,
#platforms-edit-company-confirm-btn,
#chatbots-index-btn {
  background-color: var(--btn-color);
  border: 1px solid black;
  border-radius: 4px;
  color: var(--btn-font-color);
}

#name-sort-btns,
#industry-sort-btns {
  background-color: transparent;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 96px;
  margin-top: 4px;
}

#name-sort-btns {
  margin-left: 81px;
}

#sort-names-ascend,
#sort-industry-ascend {
  height: 15px;
  width: 15px;
}

#sort-names-descend,
#sort-industry-descend {
  height: 16.5px;
  width: 16.5px;
}


/* --------------------- Platforms Index Page --------------------- */
#platforms-index-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#platforms-index-title {
  text-align: center;
  margin-top: 13vmin;
  margin-bottom: -8vmin;
  color: var(--title-color);
}

#platforms-index-head {
  height: 18px;
  margin-top: 14vmin;
  width: 80vw;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 30px;
}

#platforms-index-head-row {
  width: 1025px;
  display: grid;
  grid-template-columns: 1.5fr 5fr 1.8fr 0.3fr 0.3fr;
  text-align: center;
}

#platforms-index-each-platform {
  width: 1025px;
  display: grid;
  grid-template-columns: 1.5fr 5fr 1.5fr 0.3fr 0.3fr;
  background-color: var(--platform-color);
  margin: 2px;
  height: 30px;
  font-size: 17px;
  padding-top: 4px;
  padding-left: 12px;
  border-radius: 5px;
}

.platforms-index-btns {
  padding: 0;
  background-color: transparent;
  border: none;
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-top: 1px;
}

#platforms-index-info-btn {
  background-image: url("https://www.thedataschool.co.uk/content/images/2023/06/information-button.png");
}


/* --------------------- Platforms New Page --------------------- */
#platforms-new-title,
#companies-index-title,
#companies-new-title {
  color: var(--title-color);
  padding-bottom: 3vmin;
  margin-top: 1vmin;
}

#platforms-new-name-input { margin-left: 45px }
#platforms-new-description-input { margin-left: 6px }
#platforms-new-industry-input { margin-left: 28px }

#platforms-new-btn {
  width: 287px;
  margin-left: 2px;
  margin-top: 3px;
  margin-bottom: -3px;
}


/* --------------------- Favorites Index Page --------------------- */
#favorites-index-title {
  color: var(--title-color);
  padding-bottom: 3vmin;
  margin-top: 13vmin;
  margin-bottom: -13vmin;
}

#favorites-index-delete-btn {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6g4lm8r-K6sADjtceXyS0PtNsVZTPBAkfBFsKVpbOuA&s");
  margin-top: 2px;
  height: 17px;
  width: 17px;
}


/* --------------------- Companies Index Page --------------------- */
#companies-index-form { flex-direction: column }

.companies-index-row {
  display: flex;
  justify-content: flex-start;
}

#companies-index-name,
#platforms-edit-name {
  margin-left: 80px;
}

#companies-index-description,
#platforms-edit-description {
  margin-left: 42px;
}

#companies-index-industry,
#platforms-edit-industry {
  margin-left: 64px;
}

#companies-index-company,
#platforms-edit-company-name {
  margin-left: 14px;
}

#companies-index-year-created,
#platforms-edit-year {
  margin-left: 34px;
}

#companies-index-website,
#platforms-edit-website {
  margin-left: 66px;
  margin-bottom: 5px;
}

#companies-index-btns {
  display: flex;
  flex-direction: column;
  color: var(--btn-font-color);
}

.companies-index-btn {
  width: 287px;
  margin: 2px;
}


/* --------------------- Companies New Page --------------------- */
#companies-new-form {
  min-width: 350px;
  max-width: 350px;
  flex-direction: column;
}

#companies-new-name-input { margin-left: 3px }
#companies-new-year-input { margin-left: 23px }
#companies-new-website-input { margin-left: 55px} 

#companies-new-confirm-btn {
  width: 312px;
  margin: 2px;
  margin-top: 2px;
  margin-bottom: -4px;
}


/* --------------------- Platform Edit Page --------------------- */
#platforms-edit-title,
#chatbots-index-title {
  color: var(--title-color);
  padding-bottom: 3vmin;
  margin-top: 2vmin;
}

#platforms-edit-form {
  height: 470px;
  min-width: 335px;
  max-width: 335px;
  flex-direction: column;
}

h5 {
  text-align: center;
  margin-bottom: -3px;
  text-decoration: underline;
}

#platforms-edit-name-input {
  margin-left: 58px;
  margin-top: 10px;
}

#platforms-edit-description-input { margin-left: 19px }
#platforms-edit-industry-input { margin-left: 40px }

#platforms-edit-company-name-input {
  margin-top: 7px;
  margin-left: 57px;
}

#platforms-edit-year-input { margin-left: 10px }

#platforms-edit-website-input {
  margin-left: 42px;
  margin-bottom: 3px;
}

#platforms-edit-confirm-btn,
#platforms-edit-company-confirm-btn {
  width: 300px;
}


/* --------------------- Chatbot Page --------------------- */
#chatbots-index-response {
  background-color: var(--background-color);
  padding: 15px;
  border-radius: 10px;
  min-height: 150px;
  max-height: 150px;
  min-width: 600px;
  max-width: 600px;
  border: 1px solid black;
  margin-bottom: 4px;
}

#chatbots-index-user-prompt {
  min-width: 50vw;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbots-user-input {
  width: 540px;
}


/* ---------------------------- Footer ---------------------------- */
#footer,
#footer-scrollable {
  background-color: brown;
  color: ivory;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 2fr;
  padding-top: 10px;
}

#footer-scrollable {
  position: relative;
  margin-top: 30px;
}

@media (min-width: 1300px) {
  #footer-scrollable {
    position: fixed;
  }
}

#name { padding-left: 20px }

.fa-linkedin-square,
.fa-github,
.fa-envelope {
  font-size: 2em;
} 

#course {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
