<%- include("../partials/header"); %>

<!-- POST request to add new company info to the associated AI Platform -->
<section id="companies-new-page">
    <h1 id="companies-new-title"><strong><%= title %></strong></h1>
    <div id="companies-new-form">
        <form id="new-form-platform" action="/companies/<%= platformId %>" method="POST">
            <label>Company Name:
                <input type="text" name="name" id="companies-new-name-input" required>
            </label><br>
            <label>Year Created:
                <input type="text" name="yearCreated" id="companies-new-year-input" required>
            </label><br>
            <label>Website:
                <input type="text" name="website" id="companies-new-website-input" required>
            </label><br>
            <input type="submit" value="Confirm Edit" id="companies-new-confirm-btn">
        </form>
    </div>
</section>

<%- include("../partials/footer"); %>
