<%- include("../partials/header"); %>

<!-- POST request to add a new AI Platform to the AI Platform's page -->
<section id="platforms-new-index-page">
    <h1 id="platforms-new-title"><strong><%= title %></strong></h1>
    <div id="platforms-new-form">
        <form action="/platforms" method="POST">
            <label>Name:
                <input type="text" name="name" id="platforms-new-name-input" required>
            </label><br>
            <label>Description:
                <input type="text" name="description" id="platforms-new-description-input" required>
            </label><br>
            <label>Industry:
                <input type="text" name="industry" id="platforms-new-industry-input" required>
            </label><br>
            <input type="submit" value="Add AI Platform" id="platforms-new-btn">
        </form>
    </div>
</section>

<%- include("../partials/footer"); %>
