<%- include("../partials/header"); %>

    <form id="new-form-platform" action="/platforms" method="POST">
        <label>Name:
            <input type="text" name="name">
        </label><br>
        <label>Description:
            <input type="text" name="description">
        </label><br>
        <label>Industry:
            <input type="text" name="industry">
        </label><br>
        <input type="submit" value="Add AI Platform">
    </form>

<%- include("../partials/footer"); %>