<%- include("../partials/header"); %>

<!-- display the OpenAI generated response -->
<section id="chatbots-index-page">
    <h1 id="chatbots-index-title"><strong><%= title %></strong></h1>
    <div id="chatbots-index-disclaimer">
        <strong> Disclaimer: This feature may not work due to usage costs of the OpenAI API.  
        If it does work, it is limited to 100 characters to reduce usage.</strong>
    </div>
    <div id="chatbots-index-response">
        <%= response %>
    </div>
    <div id="chatbots-index-user-propmt">
        <!-- POST request with the user inputted data -->
        <form action="/chatbots/new" method="POST">
            <input type="text" name="inputText" placeholder="Enter your prompt here...">
            <input type="submit" value="Enter" id="chatbots-index-btn">
        </form>
    </div>
</section>

<%- include("../partials/footer"); %>